---
permalink: "/index.html"
layout: layouts/base.html
eleventyComputed:
  title: "{{ albums | last | map: 'title' }} by {{ albums | last | map: 'artist' }} ({{ albums | last | map: 'year' }}) | Daily album for {{ albums | last | map: 'date' | join | format_date }}"
  canonical: "{{ albums | last | map: 'date' | join }}/"
---

{% assign album = albums | last %} {% assign is_index = true %}

{% include "partials/header.html" %}
{% include "partials/nav.html" %}
{% include "partials/album.html" %}
{% include "partials/footer.html" %}